# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Python
venv/
.venv/
__pycache__/

# Jupyter
.ipynb_checkpoints/

# ML Models
*.keras
*.h5
*.pkl
*.joblib

# Large output folders
outputs/models/